  /* forum-regular - latin */
  @font-face {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/forum-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/forum-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


img{
    height: auto;
}

body{
    background-color: black;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
}

h1{
    font-family: Forum;
    font-size: 80px;
    color: burlywood;
    margin-top: 100px;
    text-align: center;
}

#clock{
    color: white;
    position: absolute;
    width: 99%;
    font-size: 50px;
    font-family: Forum;
    text-align: center;
    color: firebrick;
}

.clock{
    margin-left: 750px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(204, 115, 12, 0.63),
    inset 0 -15px 15px #191919,
    0 15px 15px rgba(236, 73, 73, 0.671),
    inset 0 15px 15px #191919;
}

.clock:before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgb(156, 96, 40);
    border-radius: 50%;
    z-index: 999;
}

.clock .hour,
.clock .min,
.clock .sec{
    position: absolute;
}

.clock .hour, .hr{
    width: 160px;
    height: 160px;
}
.clock .min, .mn{
    width: 190px;
    height: 190px;
}
.clock .sec, .sc{
    width: 230px;
    height: 230px;
}

.hr, .mn, .sc{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr:before{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background-color: firebrick;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}
.mn:before{
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background-color: burlywood;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}
.sc:before{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background-color: burlywood;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}