  /* forum-regular - latin */
  @font-face {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/forum-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/forum-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


img{
    height: auto;
}

body{
    background-color: black;
}

h1{
    font-family: Forum;
    font-size: 80px;
    color: burlywood;
    margin-top: 250px;
    text-align: center;
}

.clock {
    position: absolute;
    top: 50%;
    width: 99%;
    margin-left: -30px;
    font-size: 180px;
    font-family: Forum;
    text-align: center;
    color: firebrick;
}

.clock ul {
    margin: 0 auto;
    list-style: none;
}

.clock ul li {
    display: inline;
}

.clock ul li#separator {
    -moz-animation: myfade 1s ease infinite;
    -webkit-animation: myfade 1s ease infinite;
}
  
/* Animation */
@-webkit-keyframes myfade {
    0% {
        opacity: 1.0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1.0;
    }; 
}
  
@-moz-keyframes myfade {
    0% {
      opacity: 1.0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1.0;
    };
}